extends layout

block content
  h1= title
  if bike_list.length
    ul
      each bike in bike_list
        li
          a(href=bike.url) #{bike.title}
          |  (#{bike.brand.name})

  else
    p There are no bikes.
