div.d-flex.flex-wrap.gap-2
  fieldset
    // Frame
    legend Frame
    .form-group
      label(for='frameType') Frame Type:
      input#frameType.form-control(type='text', placeholder='Frame type', name='frameType', value=(bike && bike.specs && bike.specs.frame ? bike.specs.frame.type : ''))
    .form-group
      label(for='frameSizes') Frame Sizes:
      input#frameSizes.form-control(type='text', placeholder='Frame sizes', name='frameSizes', value=(bike && bike.specs && bike.specs.frame && bike.specs.frame.sizes ? bike.specs.frame.sizes.join(', ') : ''))
  br
  fieldset
    // Suspension
    legend Suspension
    .form-group
      label(for='fork') Suspension Fork:
      input#fork.form-control(type='text', placeholder='Suspension fork', name='fork', value=(bike && bike.specs && bike.specs.suspension ? bike.specs.suspension.fork : ''))
    .form-group
      label(for='suspensionLever') Suspension Lever:
      input#suspensionLever.form-control(type='text', placeholder='Suspension lever', name='suspensionLever', value=(bike && bike.specs && bike.specs.suspension ? bike.specs.suspension.suspensionLever : ''))
    .form-group
      label(for='maxCompatibleForkTravel') Max Compatible Fork Travel:
      input#maxCompatibleForkTravel.form-control(type='text', placeholder='Max compatible fork travel', name='maxCompatibleForkTravel', value=(bike && bike.specs && bike.specs.suspension ? bike.specs.suspension.maxCompatibleForkTravel : ''))
  br
  fieldset
    // Wheels
    legend Wheels
    .form-group
      label(for='wheelFront') Front Wheel:
      input#wheelFront.form-control(type='text', placeholder='Front wheel', name='wheelFront', value=(bike && bike.specs && bike.specs.wheels ? bike.specs.wheels.wheelFront : ''))
    .form-group
      label(for='wheelRear') Rear Wheel:
      input#wheelRear.form-control(type='text', placeholder='Rear wheel', name='wheelRear', value=(bike && bike.specs && bike.specs.wheels ? bike.specs.wheels.wheelRear : ''))
  br
  // Drivetrain
  fieldset
    legend Drivetrain
    .form-group
      label(for='shifter') Shifter:
      input#shifter.form-control(type='text', placeholder='Shifter', name='shifter', value=(bike && bike.specs && bike.specs.drivetrain ? bike.specs.drivetrain.shifter : ''))
    .form-group
      label(for='rearDerailleur') Rear Derailleur:
      input#rearDerailleur.form-control(type='text', placeholder='Rear derailleur', name='rearDerailleur', value=(bike && bike.specs && bike.specs.drivetrain ? bike.specs.drivetrain.rearDerailleur : ''))
    .form-group
      label(for='crank') Crank:
      input#crank.form-control(type='text', placeholder='Crank', name='crank', value=(bike && bike.specs && bike.specs.drivetrain ? bike.specs.drivetrain.crank : ''))
    .form-group
      label(for='bottomBracket') Bottom Bracket:
      input#bottomBracket.form-control(type='text', placeholder='Bottom bracket', name='bottomBracket', value=(bike && bike.specs && bike.specs.drivetrain ? bike.specs.drivetrain.bottomBracket : ''))
    .form-group
      label(for='cassette') Cassette:
      input#cassette.form-control(type='text', placeholder='Cassette', name='cassette', value=(bike && bike.specs && bike.specs.drivetrain ? bike.specs.drivetrain.cassette : ''))
    .form-group
      label(for='chain') Chain:
      input#chain.form-control(type='text', placeholder='Chain', name='chain', value=(bike && bike.specs && bike.specs.drivetrain ? bike.specs.drivetrain.chain : ''))
    .form-group
      label(for='maxChainringSize') Max Chainring Size:
      input#maxChainringSize.form-control(type='text', placeholder='Max chainring size', name='maxChainringSize', value=(bike && bike.specs && bike.specs.drivetrain ? bike.specs.drivetrain.maxChainringSize : ''))
  br
  // Components
  fieldset
    legend Components
    .form-group
      label(for='saddle') Saddle:
      input#saddle.form-control(type='text', placeholder='Saddle', name='saddle', value=(bike && bike.specs && bike.specs.components ? bike.specs.components.saddle : ''))
    .form-group
      label(for='seatpost') Seatpost:
      input#seatpost.form-control(type='text', placeholder='Seatpost', name='seatpost', value=(bike && bike.specs && bike.specs.components ? bike.specs.components.seatpost : ''))
    .form-group
      label(for='handlebar') Handlebar:
      input#handlebar.form-control(type='text', placeholder='Handlebar', name='handlebar', value=(bike && bike.specs && bike.specs.components ? bike.specs.components.handlebar : ''))
    .form-group
      label(for='grips') Grips:
      input#grips.form-control(type='text', placeholder='Grips', name='grips', value=(bike && bike.specs && bike.specs.components ? bike.specs.components.grips : ''))
    .form-group
      label(for='stem') Stem:
      input#stem.form-control(type='text', placeholder='Stem', name='stem', value=(bike && bike.specs && bike.specs.components ? bike.specs.components.stem : ''))
    .form-group
      label(for='headset') Headset:
      input#headset.form-control(type='text', placeholder='Headset', name='headset', value=(bike && bike.specs && bike.specs.components ? bike.specs.components.headset : ''))
    .form-group
      label(for='brake') Brake:
      input#brake.form-control(type='text', placeholder='Brake', name='brake', value=(bike && bike.specs && bike.specs.components ? bike.specs.components.brake : ''))
    .form-group
      label(for='brakeRotor') Brake Rotor:
      input#brakeRotor.form-control(type='text', placeholder='Brake rotor', name='brakeRotor', value=(bike && bike.specs && bike.specs.components ? bike.specs.components.brakeRotor : ''))
    .form-group
      label(for='rotorSize') Rotor Size:
      input#rotorSize.form-control(type='text', placeholder='Rotor size', name='rotorSize', value=(bike && bike.specs && bike.specs.components ? bike.specs.components.rotorSize : ''))
  br
  // Weight
  fieldset
    legend Weight
    .form-group
      label(for='bikeWeight') Bike Weight:
      input#bikeWeight.form-control(type='text', placeholder='Bike weight', name='bikeWeight', value=(bike && bike.specs && bike.specs.weight ? bike.specs.weight.bikeWeight : ''))
    .form-group
      label(for='weightLimit') Weight Limit:
      input#weightLimit.form-control(type='text', placeholder='Weight limit', name='weightLimit', value=(bike && bike.specs && bike.specs.weight ? bike.specs.weight.weightLimit : ''))
